/* sticky navigation bar */
#navbar {
    position: fixed;
    transition: 0.5s;
    padding: 0 20px;
    /* background-color: #333; */
    background-color: #fff;
}

/* Header part */

* {
    padding: 5px;
    /* font-size: 1.3rem; */
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {
    --bg-color: #191f39;
    --text-color: rgb(37, 155, 240);
    /* --main-color: #29fd53; */
    /* --main-color: #fff; */
    --main-color: rgb(37, 155, 240);
}

body {
    min-height: 100vh;
    background: var(--bg-color);
    color: var(text-color);

    /* newly added for contact body */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 28px 12%;
    transform: all 0.5s ease;
}

.logo {
    display: flex;
    align-items: center;
}

.logo i {
    color: var(--main-color);
    font-size: 28px;
    margin-right: 3px;
}

.logo span {
    color: var(--text-color);
    font-size: 1.7rem;
    font-weight: 600;
}

.navbar {
    display: flex;
}

.navbar a {
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
}

.navbar a:hover {
    color: var(--main-color);
}

.navbar a.active {
    color: var(--main-color);
}

.main {
    display: flex;
    align-items: center;
}

.main a {
    margin-right: 25px;
    margin-left: 10px;
    color: var(--text-color);
    font-size: 1em;
    font-weight: 500;
    transform: all .50s ease;
}

.facebook {
    display: flex;
    align-items: center;
}

.facebook i {
    color: var(--main-color);
    font-size: 28px;
    margin-right: 7px;
}

.twitter {
    display: flex;
    align-items: center;
}

.twitter i {
    color: var(--main-color);
    font-size: 28px;
    margin-right: 7px;
}

.main a:hove {
    color: var(--main-color);
}

#menu-icon {
    font-size: 35px;
    color: var(--text-color);
    cursor: pointer;
    z-index: 10001;
    display: none;
}

@media (max-width:1400px) {

    /* for the  container with boxes text and heading written*/
    .page {
        font-size: 0.9rem;
        text-align: center;
    }
}

@media (max-width: 1176px) {
    .page {
        font-size: 0.8rem;
        text-align: center;
    }
}

@media (max-width: 1014px) {
    .page {
        text-align: center;
        font-size: 0.7rem;
    }
}

@media (max-width: 796px) {
    .page {
        text-align: center;
        font-size: 0.6rem;
    }
}

@media (max-width: 670px) {
    .page {
        text-align: center;
        font-size: 0.8rem;
        padding-top: 0px;
        margin: 45px;
        margin-bottom: 90px;
    }

    .boxx {
        height: 100px;
        width: 200px;
        align-content: center;
    }
}

@media (max-width: 1280px) {
    header {
        padding: 14px 2%;
        transition: .2s;
    }

    .navbar a {
        padding: 5px 0;
        margin: 0px 20px;
    }
}

@media (max-width: 833px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 180px;
        height: 65vh;
        background: #222327;
        /* background: var(--main-color); */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
    }

    .navbar a {
        display: block;
        margin: 10px 0;
        padding: 0px 25px;
        transition: all .50s ease;
    }

    .navbar a:hover {
        color: var(--text-color);
        transform: translateY(5px);
    }

    .navbar a.active {
        color: var(--text-color);
    }

    .navbar.open {
        right: 2%;
    }

}

/* Main Content of Page */


/* Position the image container (needed to position the left and right arrows) */
.container {
    position: sticky;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 85px;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

.container {
    padding: 90px 20px;
    width: 90%;
}


/* sliding div side to one another */
/* links to pages with image click */

#div-slide {
    width: 100%;
    /* padding-top: 0; */
    padding: 30px;
    margin: 0 auto;
    margin-top: 75px;
    height: 250px;
    align-items: center;
    align-content: space-between;
}

.page {
    float: left;
    width: 25%;
    height: 100%;
    display: block;
    align-self: center;
}

.boxx {
    height: 290px;
    background-color: white;
    padding: 10px;
    border: 1px solid #bdbdbd;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 10px #bdbdbd;
    -webkit-box-shadow: 0 0 10px #bdbdbd;
    box-shadow: 0 0 10px #bdbdbd;
    overflow-y: hidden;
}

.boxx a {
    color: rgb(37, 155, 240);
}

/* Welcome TO NAARC */

.welcome {
    background: rgb(244, 239, 239);
    margin: 15px;
    padding: 90px;
    overflow-y: hidden;
}



/* footer */

/* footer */
.footer {
    /* background: #000; */
    color: rgb(37, 155, 240);
    background: #fff;
    /* background: rgb(82, 77, 77); */
    padding: 1%;
    margin: 0%;
    /* margin: 10px; */

    /* color: white; */
    text-align: center;
    width: 100%;
    font-size: 1.2rem;

}

.footer a {
    /* color: #fff; */
    color: rgb(37, 155, 240);
}

.footer a:hover {
    color: #bdbdbd;
}

#footer {
    position: absolute;
    /* bottom: 0px; */
    margin-top: 1800px;
    width: 100%;
}

/* MEDIA QUERY */

@media (max-width: 650px) {
    .page {
        padding: 0px;
        margin: 25%;
        font-size: 1rem;
    }

    #div-slide {
        margin-top: 0px;
        margin-left: -30px;
        padding-bottom: 0px;
    }

    .boxx {
        width: 300px;
    }

    .footer {
        margin-top: 170%;
    }
}

@media (max-width: 518px) {
    .footer {
        margin-top: 240%;
    }
}

@media (max-width: 479px) {
    .footer {
        margin-top: 250%;
    }
}

@media (max-width: 451px) {
    .footer {
        margin-top: 290%;
    }

    @media (max-width: 426px) {
        .footer {
            margin-top: 320%;
        }
    }
}

@media (max-width: 377px) {
    .page {
        padding: 0px;
        margin: 35%;
        font-size: 1rem;
    }

    #div-slide {
        margin-top: 0px;
        margin-left: -33%;
        padding-bottom: 0px;
    }

    .welcome {
        margin: -35px;
    }

    .welcome p {
        font-size: 0.9rem;
    }

    .boxx {
        width: 300px;
    }

    .footer {
        margin-top: 370%;
    }
}

@media(max-width:564px) {
    .boxx {
        margin: -20px;
    }
}

@media(max-width:518px) {
    .boxx {
        margin: -35px;
    }
}

@media(max-width:486px) {
    .boxx {
        margin: -15px;
        width: 250px;
        height: 350px;
    }
}

@media(max-width:470px) {
    .boxx {
        margin: -25px;
        font-size: 0.9rem;
        height: 300px;
    }

    .welcome {
        font-size: 0.8rem;
    }

    .welcome p {
        padding-top: 0%;
        /* margin-left: 0px; */
        /* margin-right: 0px; */
        padding-left: 0px;
        padding-right: 0px;
    }

    #footer {
        margin-top: 310%;
    }

}

@media (max-width :461px) {
    .welcome {
        height: 400px;
        padding-top: 10px;
    }

    .welcome p {
        font-size: 0.75rem;
    }

    #footer .text,
    #footer p {
        font-size: 0.7rem;
    }

    #footer {
        margin-top: 270%;
        padding-right: 0;
    }
}

@media (max-width: 351px) {
    .welcome {
        height: 300px;
    }

    .welcome p {
        font-size: 0.63rem;
    }
}

@media (max-width: 333px) {
    .page {
        margin-left: 40%;
    }
}

@media (max-width: 322px) {
    .page {
        margin-left: 38%;
    }

    #footer {
        margin-top: 280%;
    }

    .welcome p {
        font-size: 0.59rem;
    }
}